*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
#main-nav{
    background-color: #f2f2f2;
    padding: 10px;
    position: fixed;
    width: 250px;
    height: 750px;
    box-shadow: 0px 0px 20px #1f1e1e;
}
#main-nav ul{
    margin-top: 15px;
    padding: 0px;
    list-style: none;
}
#main-nav li{
    padding: 0px;
    height: 50px;
}
#main-nav a{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 27px;
    color: black;
    transition: 0.3s ease-in-out;
}
#main-nav li:hover a{
    padding-left: 50px;
    transition: 0.3s ease-in-out;
    color: #ace6f1;
}
.owner{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 65px;
    text-align: left;
    font-size: 38px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.newsletter{
    margin-top: 40px;
}
.newsletter h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
#input_container {
    position:relative;
    margin-top: 10px;
    background:#ddd;
    direction: ltr;
    width: 220px;
}
#input {
    border:1px solid skyblue;
    height:30px;
    width: 100%;
}
#input_container a, #input_img {
    position:absolute;
    bottom: 2px;
    right:5px;
    width:24px;
    height:24px;
}
.newsletter p{
    margin-top: 70px;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
.post{
    list-style: none;
    margin-bottom: -50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 260px;
    float: left;
    width: 80%;
    background: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    border-right: 10px solid orangered;
    box-shadow: 0px 0px 20px #1f1e1e;
    transition: 0.3s ease-in-out;
}
.post:hover{
    margin-left: 270px;
    margin-bottom: 0px;
    transition: 0.3s ease-in-out;
}

.post-topic, a{
    text-decoration: none;
    margin-top: 05px;
    color: #1f1e1e;
    font-size: 40px;
    transition: 0.3s ease-in-out;
}
.post-topic:hover a{
    color: orangered;
    transition: 0.3s ease-in-out;
}
.post-body{
    font-size: 20px;
    margin-top: 05px;
    color: #333;
}
.post-author a{
    line-height: 2em;
    font-weight: 900;
    font-size: 15px;
    margin-top: 07px;
    color: #1f1e1e;
}
